* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: #666;
}

form {
  background: #38B2AC;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding: 20px;
}

input, textarea, button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
}

button {
  color: #777;
  cursor: pointer;
  font-weight: bold;
}